.App {
  min-height: 100vh;
  background: url(../src/assets/pattern-background-desktop.svg), #E1E9Ff;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  display: grid;
  place-content: center;
  background-position:  center top -1rem;
  

}